@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    overscroll-behavior-y: none;
    @apply bg-background text-foreground;
  }
  .hljs {
    @apply !bg-neutral-950/30;
  }
}

::-webkit-scrollbar-thumb {
    min-height: 44px;
    min-width: 44px;
    border-radius: 16px;
    border: 5px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
}

::-webkit-scrollbar-thumb,
.dark ::-webkit-scrollbar-thumb {
    @apply bg-neutral-800
}


::-webkit-scrollbar-button,::-webkit-scrollbar-corner {
    display: none;
}

textarea {
    field-sizing: content
}

.markdown {
  max-width: 800px;
}

.markdown h1 {
  @apply text-xl;
}

.markdown h2 {
  @apply text-lg;
}

.markdown h3 {
  @apply text-base;
}

.markdown h4 {
  @apply text-sm;
}

.markdown h5 {
  @apply text-xs;
}

.markdown h6 {
  @apply text-xs;
}

.markdown a {
  @apply text-blue-500;
}

.markdown a:hover {
  @apply text-blue-400;
}

.markdown a:hover {
  @apply no-underline;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ul {
  @apply flex flex-col gap-2;
}

.markdown ol {
  @apply flex flex-col gap-2;
}

.markdown blockquote {
  @apply border-l-4 border-neutral-500 pl-4 mx-1;
}

.markdown code {
  @apply !bg-neutral-950/30 !text-neutral-400 !rounded-sm !px-1 !py-0.5 !text-sm !font-mono border border-neutral-800;
}

.markdown pre {
  @apply !bg-neutral-950/20 !mt-2 !rounded-md !text-sm;
}

.markdown pre code {
  @apply !bg-transparent !text-neutral-300 !p-[10px] !text-sm !font-mono;
}

.markdown table {
  @apply !w-full !table-auto !border-collapse !border !border-neutral-800;
}

.markdown th {
  @apply !border !border-neutral-800 !p-2 !text-neutral-300 !bg-neutral-950;
}

.markdown td {
  @apply !border !border-neutral-800 !p-2 !text-neutral-300 !bg-neutral-950;
}

.markdown img {
  @apply !w-full !rounded-md max-w-[400px];
}

.markdown hr {
  @apply !border-neutral-800 !my-4;
}

.markdown p {
  @apply !mt-2 !mb-2;
}

